<div class="container">
    <p id="test">{{this.currentPokemon.name}}</p>
    <button id="btn1" class="btn btn-primary" (click)="getPikachu()">Get Pikachu</button>
    <!-- <img [src]="currentPokemon.sprites" alt=""> -->
</div>

<div @move class="container">
    <!-- property binding [] in the form element -->
    <form class="form-group" style="width: 30%;" [formGroup]="pokeGroup"> 

        <label for="">Pokemon Id</label>
        <!-- directive for reactiveform formControlName -->
        <input type="text" class="form-control" formControlName = "id">

        <label for="">Pokemon Name</label>
        <input type="text" class="form-control" formControlName = "name">

        <button class="btn-primary" (click)="getPokemon(pokeGroup)">Submit</button>
    </form>
</div>