<!-- This is the shared html, navbar goes here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AngularDemo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- attribute routerLink to route to a specifict component html - defined in RouterModule path -->
          <a class="nav-link active" aria-current="page" routerLink="/superhero">SuperHero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokemon">Pokemon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/restaurant">Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer">Customer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--need router-outlet tag to enable routing-->
<!--only need this tag to dynamically change to the specific component -->
<router-outlet></router-outlet>

